body, html {
	overflow-x: visible !important;
}

.main {
	margin-left: 240px;
	height: 100%;
}
.date {
	color: #656565;
	margin-bottom: 7px;
	display: block;
}

.section {
	//padding: 30px;
	width: 100%;
	height: 100%;

	background-image: url('../i/section-bg.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: cover;

	// .section-bg {
		// width: 100%;
		// height: 100%;
		// position: absolute;
		// top: 0;
		// right: 0;
		// background-image: url('../i/bg-icons.png');
		// background-repeat: repeat;
		// background-position: 50% 50%;
		// background-attachment: fixed;
		// background-size: cover;
	// }

	.container {
		//position: absolute;
	}

	position: relative;
	overflow: hidden;
	&:before {
		position: absolute;
		display: block;
		content: '';
		width: 100%; height: 100%;
		left: 0; top: 0;
		z-index: 0;
		@include background(radial-gradient(0 0, ellipse, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%));
		background-size: 1000px;
		background-repeat: no-repeat;
	}
}

.section--company {
	background-color: #F3A90B;
	.title span, .content {
		@include box-shadow(rgba(#DAA12E, 1) 0 5px 0 0, rgba(#C88809, 1) 0 7px 0 0, rgba(#c88a0f, 1) 0 20px 10px -10px);
	}
	[class^="icon-"], [class*=" icon-"] {
		line-height: 80px;
		margin-left: -8px;
	}
}

.section--services {
	background-color: #2C9BE7;
	font-size: 16px;
	.title span, .content {
		@include box-shadow(rgba(#278EDA, 1) 0 5px 0 0, rgba(#0979C8, 1) 0 7px 0 0, rgba(#1B88D4, 1) 0 20px 10px -10px);
	}
	[class^="icon-"], [class*=" icon-"] {
		display: block;
		float: left;
		margin-right: 20px;
	}

	.valign--cont {
	    height: 100px;
	    display: table-cell;
	    vertical-align: middle;
	    float: none;
		.valign--inner {
			display: block;
		}
	}
}

.section--transport {
	background-color: #A72C16;
	.title span, .content {
		@include box-shadow(rgba(#DA5E32, 1) 0 5px 0 0, rgba(#C24824, 1) 0 7px 0 0, rgba(#C83F09, 1) 0 20px 10px -10px);
	}
	[class^="icon-"], [class*=" icon-"] {
		display: block;
	}
	.slider__item {
		text-align: center;
		line-height: 1;
		font-size: 13px;
	}
}

.section--news {
	background-color: #5C37D1;
	.title span, .content {
		@include box-shadow(rgba(#7624AE, 1) 0 5px 0 0, rgba(#6207A0, 1) 0 7px 0 0, rgba(#6207A0, 1) 0 20px 10px -10px);
	}
	[class^="icon-"], [class*=" icon-"] {
		display: block;
	}
	.slider__item {
		text-align: left;
		line-height: 1;
		font-size: 13px;
		h5 {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 11px;
		}
		p {
			margin-bottom: 11px;
		}
		a, a:link, a:visited {
			color: #af0c12;
			text-decoration: underline;
			&:hover {
				color: lighten(#af0c12, 10%);
			}
		}
	}
}

.section--partners {
	background-color: #1BA348;
	.title span, .content {
		@include box-shadow(rgba(#4FB85B, 1) 0 5px 0 0, rgba(#30a340, 1) 0 7px 0 0, rgba(#46b259, 1) 0 20px 10px -10px);
	}
}

.section--contacts {
	.title span, .content {
		@include box-shadow(rgba(#BEBEBE, 1) 0 5px 0 0, rgba(#B0B0B0, 1) 0 7px 0 0, rgba(#D0CFCA, 1) 0 20px 10px -10px);
	}
	[class^="icon-"], [class*=" icon-"] {
		display: block;
		float: left;
		margin-right: 5px;
		font-size: 42px;
		color: #b00c12;
	}
	.content {
		width: 500px;
		padding-bottom: 20px;
		line-height: 1;
		.contacts__info {
			width: 260px;
			margin-left: 0;
			margin-right: 0;
		}
		.contacts__download {
			border-left: 1px solid #B00B11;
			height: 100px;
			padding: 33px 0 0 25px;
			[class^="icon-"], [class*=" icon-"] {
				color: #000;
				line-height: 32px;
			}
			a {
				color: #b00c12;
				text-decoration: none;
				font-size: 15px;
			}
		}
	}
}

.title {
	font-family: 'Clear Sans';
	font-size: 36px;
	font-weight: 200;
	text-transform: uppercase;
	color: #B00C12;
	display: block;
	width: 1020px;
	//margin: 0 auto;
	margin-left: 85px;
	//margin-top: 50px;
	margin-bottom: 80px;
	position: relative;
	span {
		background-color: #FFFFFF;
		display: inline-block;
		line-height: 1;
		margin-top: -10px;
		padding: 10px 15px;
	}
}

.content {
	background-color: #FFF7E6;
	background-image: url(../i/content-bg.jpg);
	background-repeat: repeat;
	padding: 60px 30px;
	//overflow: hidden;
	position: relative;
	width: 1020px;
	//margin: 0 auto;
	margin-left: 85px;

	.content__title {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;
		color: #B00C12;
		font-weight: 600;
		display: inline-block;
		font-size: 14px;
		padding: 8px;
		text-transform: uppercase;
	}

	hr {
		border: 0 solid #000;
		border-top-width: 2px;
		margin-bottom: 25px;
	}

	a, a:link, a:visited {
		text-decoration: none;
	}
}

.well {
	background-color: #fff;
	padding: 30px 40px;
	margin-bottom: 20px;
}

#map {
	position: absolute;
	width: 100%; height: 100%;
}