body, html {
	overflow-x: visible !important;
}

.main {
	margin-left: 240px;
	height: 100%;
}

.section {
	//padding: 30px;
	width: 100%;
	height: 100%;

	background-image: url('../i/section-bg.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: contain;

	.container {
		//position: absolute;
	}

	position: relative;
	overflow: hidden;
	&:before {
		position: absolute;
		display: block;
		content: '';
		width: 100%; height: 100%;
		left: 0; top: 0;
		z-index: 0;
		@include background(radial-gradient(0 0, ellipse, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%));
		background-size: 1000px;
		background-repeat: no-repeat;
	}
}

.section--company {
	background-color: #F3A90B;
	.title span, .content {
		@include box-shadow(rgba(#DAA12E, 1) 0 5px 0 0, rgba(#C88809, 1) 0 7px 0 0, rgba(#c88a0f, 1) 0 20px 10px -10px);
	}
}

.section--services {
	background-color: #2C9BE7;
	.title span, .content {
		@include box-shadow(rgba(#278EDA, 1) 0 5px 0 0, rgba(#0979C8, 1) 0 7px 0 0, rgba(#1B88D4, 1) 0 20px 10px -10px);
	}
}

.section--transport {
	background-color: #A72C16;
	.title span, .content {
		@include box-shadow(rgba(#DA5E32, 1) 0 5px 0 0, rgba(#C24824, 1) 0 7px 0 0, rgba(#C83F09, 1) 0 20px 10px -10px);
	}
}

.section--partners {
	background-color: #1BA348;
	.title span, .content {
		@include box-shadow(rgba(#4FB85B, 1) 0 5px 0 0, rgba(#30a340, 1) 0 7px 0 0, rgba(#46b259, 1) 0 20px 10px -10px);
	}
}

.section--contacts {
	.title span, .content {
		@include box-shadow(rgba(#BEBEBE, 1) 0 5px 0 0, rgba(#B0B0B0, 1) 0 7px 0 0, rgba(#D0CFCA, 1) 0 20px 10px -10px);
	}
	.content {
		width: 500px;
		padding-bottom: 20px;
	}
}

.title {
	font-family: 'Clear Sans';
	font-size: 36px;
	font-weight: 200;
	text-transform: uppercase;
	color: #B00C12;
	display: block;
	width: 1020px;
	//margin: 0 auto;
	margin-left: 85px;
	//margin-top: 50px;
	margin-bottom: 80px;
	position: relative;
	span {
		background-color: #FFFFFF;
		display: inline-block;
		line-height: 1;
		margin-top: -10px;
		padding: 10px 15px;
	}
}

.content {
	background-color: #FFF7E6;
	background-image: url(../i/content-bg.jpg);
	background-repeat: repeat;
	padding: 60px 30px;
	overflow: hidden;
	position: relative;
	width: 1020px;
	//margin: 0 auto;
	margin-left: 85px;

	.content__title {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;
		color: #B00C12;
		font-weight: 600;
		display: inline-block;
		font-size: 14px;
		padding: 8px;
		text-transform: uppercase;
	}

	hr {
		border: 0 solid #000;
		border-top-width: 2px;
		margin-bottom: 25px;
	}
}

.well {
	background-color: #fff;
	padding: 30px 40px;
	margin-bottom: 20px;
}

#map {
	position: absolute;
	width: 100%; height: 100%;
}