.nav {
	position: fixed;
	width: 240px;
	height: 100%;
	background: url('../i/nav-bg.jpg') 0 0 repeat-y #272727;
	padding: 55px;
	color: #fff;
	z-index: 2;
	.nav__logo {
		.nav__logo__img {
			display: block;
			width: 64px;
			height: 40px;
			background-image: url(../i/logo-fallback.png);
  			background-image: url(../i/logo.svg), none;
		}
	}
	.nav__menu {
		margin: 40px 0;
		ul {
			li {
				list-style: none;
				margin: 0;
				a, a:link, a:visited {
					display: block;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					line-height: 1;
					padding: 15px 0;
					margin: 5px 0;

					&:hover {
						font-weight: bold;
					}
				}
			}
		}
	}
	.nav__info {
		margin-top: 80px;
		a, a:link, a:visited {
			color: #fff;
			text-decoration: none;
		}
	}
	hr {
		position: absolute;
		width: 100%;
		left: 0;

		border-color: #383838;
	}
}

#fullPage-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fullPage-nav.right {
    right: 17px;
}
#fullPage-nav.left {
    left: 17px;
}
.fullPage-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fullPage-slidesNav.bottom {
    bottom: 17px;
}
.fullPage-slidesNav.top {
    top: 17px;
}
#fullPage-nav ul,
.fullPage-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fullPage-nav li,
.fullPage-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fullPage-slidesNav li {
    display: inline-block;
}
#fullPage-nav li a,
.fullPage-slidesNav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
    background: #333;
}
#fullPage-nav span,
.fullPage-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}