- var active = 1
- var pageName = 'Главная'
include includes/settings
doctype html
html(lang='ru')
  head
    include includes/head
  body
    .wrapper
      include includes/menu
      .main
        section.section.section--company 1
        section.section.section--services 2
      include includes/footer
    include includes/tail