- var active = 1
- var pageName = 'Главная'
include includes/settings
doctype html
html(lang='ru')
  head
    include includes/head
  body
    .wrapper
      include includes/menu
      .main
        //- section.section.section--company(data-stellar-background-ratio="0") 1
        //- section.section.section--services(data-stellar-background-ratio="0") 2
        section.section.section--company
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title Компания «Импо Групп»
                p.col-12
                  strong Общество с ограниченной ответственностью «Импо Групп» осуществляет деятельность в сфере проектирования и производства систем мониторинга транспортных средств с 2010 года. Мы разрабатываем как программное обеспечение, так и оборудование, работающее с системами ГЛОНАСС и GPS.
                hr
                .col-1
                  span.icon-idea
                p.col-5 Все наши программно-аппаратные решения являются результатом работы специалистов компании «Импо Групп». Как компания производитель мы имеем возможность в максимально сжатые сроки реагировать на изменяющиеся требования законодательства в данной сфере, а также модернизировать оборудование с учетом потребностей клиентов.
                p.col-5 В своей деятельности мы руководствуемся принципами добросовестности, честности, профессионализма. Основная цель нашей компании это установление долгосрочных партнерских отношений с клиентами путем предоставления качественной продукции в оптимальные сроки, а также решения любых нестандартных задач.
                p.col-11.push-1 С этой целью сотрудники компании «Импо Групп» регулярно повышают уровень своего профессионализма, посещая семинары и тренинги в сфере производства и систем мониторинга транспортных средств.
        section.section.section--services
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title Услуги
                .col-6.well
                  a(href="page.html", rel="modal:open")
                    span.icon-gps-searching
                    .valign--cont
                      .valign--inner
                        |Внедрение и осуществление мониторинга с помощью серверов компании (абонентское обслуживание)
                .col-6.well
                  a(href="page.html", rel="modal:open")
                    span.icon-workstation
                    .valign--cont
                      .valign--inner
                        |Внедрение системы мониторинга на серверное оборудование компании клиента
                .col-6.well
                  a(href="page.html", rel="modal:open")
                    span.icon-download
                    .valign--cont
                      .valign--inner
                        |Поддержка и обновление ПО
                .col-6.well
                  a(href="page.html", rel="modal:open")
                    span.icon-workstation
                    .valign--cont
                      .valign--inner
                        |Комплексные нестандартные решения
        section.section.section--transport
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              h3.content__title Зачем нужен мониторинг автотранспорта?
              #slider.slider
                .container
                  .slider__items
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-calendar
                        |Контроль за транспортам в режиме реального времени
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-target
                        |Определение местоположения транспортного средства с точностью до 5 метров
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-gas-station
                        |Учет расход топлива и количества в баке транспортного средства
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-bell
                        |Получение уведомление о съезда с заданного маршрута
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-document
                        |Формирование отчетов
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-temperature
                        |Отчет по состоянию датчиков транспортных средств
                     .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-calendar
                        |Контроль за транспортам в режиме реального времени
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-target
                        |Определение местоположения транспортного средства с точностью до 5 метров
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-gas-station
                        |Учет расход топлива и количества в баке транспортного средства
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-bell
                        |Получение уведомление о съезда с заданного маршрута
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-document
                        |Формирование отчетов
                    .slider__item.col-2
                      a(href="page.html", rel="modal:open")
                        span.icon-temperature
                        |Отчет по состоянию датчиков транспортных средств
                .slider__controls
                  a(href="#").prev &lsaquo;
                  a(href="#").next &rsaquo;
        section.section.section--partners
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title НаШИ Партнеры и клиенты
                .partners__item.col-2: img(src="i/partners/1.png")
                .partners__item.col-2: img(src="i/partners/2.png")
                .partners__item.col-2: img(src="i/partners/3.png")
                .partners__item.col-2: img(src="i/partners/1.png")
                .partners__item.col-2: img(src="i/partners/2.png")
                .partners__item.col-2: img(src="i/partners/3.png")
        section.section.section--contacts
          #map
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title Свяжитесь с нами
                h4 ООО «Импо Групп»
                .col-3.contacts__info
                  p
                    span.icon-location
                    |690087, Приморский Край,<br>г. Владивосток, ул. Сабанеева 24В
                  p
                    span.icon-phone
                    |тел. - (423) 2-99-40-36<br>факс – (423) 2-611-476
                .col-3.contacts__download
                  span.icon-document
                  a(href="#") Скачать<br>реквизиты

                

      include includes/footer
    include includes/tail