- var active = 1
- var pageName = 'Главная'
include includes/settings
doctype html
html(lang='ru')
  head
    include includes/head
  body
    .wrapper
      include includes/menu
      .main
        //- section.section.section--company(data-stellar-background-ratio="0") 1
        //- section.section.section--services(data-stellar-background-ratio="0") 2
        section.section.section--company
          .container
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              h3.content__title Компания «Импо Групп»
              p.col-12 
                strong Общество с ограниченной ответственностью «Импо Групп» осуществляет деятельность в сфере проектирования и производства систем мониторинга транспортных средств с 2010 года. Мы разрабатываем как программное обеспечение, так и оборудование, работающее с системами ГЛОНАСС и GPS.
              hr
              .col-1
                i.fa.fa-info(style="font-size: 50px;")
              p.col-5 Все наши программно-аппаратные решения являются результатом работы специалистов компании «Импо Групп». Как компания производитель мы имеем возможность в максимально сжатые сроки реагировать на изменяющиеся требования законодательства в данной сфере, а также модернизировать оборудование с учетом потребностей клиентов.
              p.col-5 В своей деятельности мы руководствуемся принципами добросовестности, честности, профессионализма. Основная цель нашей компании это установление долгосрочных партнерских отношений с клиентами путем предоставления качественной продукции в оптимальные сроки, а также решения любых нестандартных задач.
              p.col-10.push-1 С этой целью сотрудники компании «Импо Групп» регулярно повышают уровень своего профессионализма, посещая семинары и тренинги в сфере производства и систем мониторинга транспортных средств.
        section.section.section--services
          .container
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              h3.content__title Компания «Импо Групп»
              p.col-12 
                strong Общество с ограниченной ответственностью «Импо Групп» осуществляет деятельность в сфере проектирования и производства систем мониторинга транспортных средств с 2010 года. Мы разрабатываем как программное обеспечение, так и оборудование, работающее с системами ГЛОНАСС и GPS.
              hr
              .col-1
                i.fa.fa-info(style="font-size: 50px;")
              p.col-5 Все наши программно-аппаратные решения являются результатом работы специалистов компании «Импо Групп». Как компания производитель мы имеем возможность в максимально сжатые сроки реагировать на изменяющиеся требования законодательства в данной сфере, а также модернизировать оборудование с учетом потребностей клиентов.
              p.col-5 В своей деятельности мы руководствуемся принципами добросовестности, честности, профессионализма. Основная цель нашей компании это установление долгосрочных партнерских отношений с клиентами путем предоставления качественной продукции в оптимальные сроки, а также решения любых нестандартных задач.
              p.col-10.push-1 С этой целью сотрудники компании «Импо Групп» регулярно повышают уровень своего профессионализма, посещая семинары и тренинги в сфере производства и систем мониторинга транспортных средств.
      include includes/footer
    include includes/tail