- var active = 1
- var pageName = 'Главная'
include includes/settings
doctype html
html(lang='ru')
  head
    include includes/head
  body
    .wrapper
      include includes/menu
      .main
        //- section.section.section--company(data-stellar-background-ratio="0") 1
        //- section.section.section--services(data-stellar-background-ratio="0") 2
        section.section.section--company
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title Компания «Импо Групп»
                p.col-12
                  strong Общество с ограниченной ответственностью «Импо Групп» осуществляет деятельность в сфере проектирования и производства систем мониторинга транспортных средств с 2010 года. Мы разрабатываем как программное обеспечение, так и оборудование, работающее с системами ГЛОНАСС и GPS.
                hr
                .col-1
                  i.fa.fa-info(style="font-size: 50px;")
                p.col-5 Все наши программно-аппаратные решения являются результатом работы специалистов компании «Импо Групп». Как компания производитель мы имеем возможность в максимально сжатые сроки реагировать на изменяющиеся требования законодательства в данной сфере, а также модернизировать оборудование с учетом потребностей клиентов.
                p.col-5 В своей деятельности мы руководствуемся принципами добросовестности, честности, профессионализма. Основная цель нашей компании это установление долгосрочных партнерских отношений с клиентами путем предоставления качественной продукции в оптимальные сроки, а также решения любых нестандартных задач.
                p.col-11.push-1 С этой целью сотрудники компании «Импо Групп» регулярно повышают уровень своего профессионализма, посещая семинары и тренинги в сфере производства и систем мониторинга транспортных средств.
        section.section.section--services
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title Услуги
                .col-6.well Внедрение и осуществление мониторинга с помощью серверов компании (абонентское обслуживание)
                .col-6.well Внедрение системы мониторинга на серверное оборудование компании клиента
                .col-6.well Поддержка и обновление ПО
                .col-6.well Комплексные нестандартные решения
        section.section.section--transport
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title Зачем нужен мониторинг автотранспорта?
                #slider
                  .slider-item.col-2 Контроль за транспортам в режиме реального времени
                  .slider-item.col-2 Контроль за транспортам в режиме реального времени
                  .slider-item.col-2 Контроль за транспортам в режиме реального времени
                  .slider-item.col-2 Контроль за транспортам в режиме реального времени
                  .slider-item.col-2 Контроль за транспортам в режиме реального времени
                  .slider-item.col-2 Контроль за транспортам в режиме реального времени
        section.section.section--partners
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title НаШИ Партнеры и клиенты
                .partners__item.col-2: img(src="i/partners/1.png")
                .partners__item.col-2: img(src="i/partners/2.png")
                .partners__item.col-2: img(src="i/partners/3.png")
                .partners__item.col-2: img(src="i/partners/1.png")
                .partners__item.col-2: img(src="i/partners/2.png")
                .partners__item.col-2: img(src="i/partners/3.png")
        section.section.section--contacts
          #map
          .section-content
            .title
              span Системы спутникового мониторинга
              span ДОЗОР GPS / ГЛОНАСС
            .content
              .container
                h3.content__title Свяжитесь с нами
                h4 ООО «Импо Групп»
                .col-4
                  p 690087, Приморский Край,<br>г. Владивосток, ул. Сабанеева 24В
                  p тел. - (423) 2-99-40-36<br>факс – (423) 2-611-476
                .col-3
                  a(href="#") Скачать<br>реквизиты

                

      include includes/footer
    include includes/tail