.container
	.col-1: span.icon-idea
	p.col-5 Все наши программно-аппаратные решения являются результатом работы специалистов компании «Импо Групп». Как компания производитель мы имеем возможность в максимально сжатые сроки реагировать на изменяющиеся требования законодательства в данной сфере, а также модернизировать оборудование с учетом потребностей клиентов.
	p.col-5 В своей деятельности мы руководствуемся принципами добросовестности, честности, профессионализма. Основная цель нашей компании это установление долгосрочных партнерских отношений с клиентами путем предоставления качественной продукции в оптимальные сроки, а также решения любых нестандартных задач.
	p.col-11.push-1 С этой целью сотрудники компании «Импо Групп» регулярно повышают уровень своего профессионализма, посещая семинары и тренинги в сфере производства и систем мониторинга транспортных средств.