//- SETTINGS
- var title = pageName + ' - Компания «ИМПО ГРУПП»'
- var navItems = [ { name: 'Компания', anchor: 'company' }, { name: 'Услуги', anchor: 'services' }, { name: 'Транспортный мониторинг', anchor: 'transport' }, { name: 'Партнеры', anchor: 'partners' }, { name: 'Контакты', anchor: 'contacts' }]
//- SETTINGS